.container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
form{
    display: flex;
    flex-direction: column;
}
input{
    padding: 5px;
    border-radius: 5px;
}
input:focus{
    background-color: wheat;
}
button{
    background-color: teal;

}
button:hover{
    background-color: darkgreen;
}
span{
    color: red;
    font-size: small;
    position: relative;
}