/* Header styles */
header {
    background-color: #4a4a4a;
    color: #fff;
    padding: 10px;
    text-align: center;
}

/* Styling for main heading */
h1 {
    margin-top: 15px;
}


/* Search bar styles */
#search-bar {
    display: flex;
    align-items: center;
    border-radius: 5px;
    /* height: 30px; */
}

#search-bar input {
    margin-right: 10px;
    margin-left: 130px;
    border-radius: 5px;
    border: none;
    height: max-content;
}

#search-bar button {
    border-radius: 5px;
    border: none;
    height: max-content;
}

/* Styling for the about us link */
#about {
    margin-left: auto;
}

#about a {
    text-decoration: none;
    color: #faf5fd;
    font-size: 16px;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    /* padding: 1em; */
    background-color: #4a4a4a;
    color: #faf5fd;
    font-size: larger;
}




.navbar .logo {
    margin-left: 20px;
    width: 400px;

} 

.logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.menu {
    margin-right: 20px;
}

nav .menu a {
    text-decoration: none;
    color: #faf5fd;
    margin-left: 20px;
    font-weight: 700;
}

/* Footer styles */
footer {
    background-color: #4a4a4a;
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* Footer content container styles */
.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

/* Contact info, terms, and social media styles */
.contact-info,
.terms,
.social-media {
    text-align: left;
    color: #fff;
    flex: 1;
}

.terms {
    margin-top: 10px;
}

/* Policy link styles */
.policy {
    margin: 10px;
}

.terms a {
    color: #faf5fd;
    text-decoration: none;
    font-size: 16px;
}

/* Copyright text styles */
#copyright {
    color: #faf5fd;
    margin-top: 40px;
    margin-left: 65px;
}

/* Social media section styles */
.social-media h2 {
    margin-bottom: 10px;
    color: #fff;
}

.social-media ul {
    list-style: none;
    padding: 0;
}

.social-media li {
    margin-bottom: 5px;
}

.social-media a {
    color: #faf5fd;
    text-decoration: none;
    font-size: 16px;
}

