/* Reset default margin and padding for consistency across browsers */
body, h1, h2, h3, ul, p, img {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fefefe;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4a4a4a;
    color: #fff;
    text-align: center;
}

.connectify-image {
    /* background-image: linear-gradient(#01e8e0, #4eb8ea, #738ff0); */
    background-color: #fefefe;
    color: rgb(16, 16, 16); 
    padding: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    text-align: center; 
    font-family: 'Arial', sans-serif; 
}

.connectify-image h1 {
    font-size: 2.5rem;
    margin-bottom: 5px;
    line-height: 1.2; 
    text-transform: uppercase; 
}

.connectify-image p {
    font-size: 1rem; 
    margin-bottom: 2.5rem; 
}

.connectify-image img {  
    object-fit: cover; 
    border-radius: 10px; 
    margin-top: 40px;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #fefefe;

}

main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


h2 {
    margin-top: 25px;
    color: #4a4a4a;
}

h3 {
    margin-top: 20px;
    margin-bottom: 25px;
    color: #fdfafa;
}
p {
    margin-bottom: 15px;
}

footer {
    background-color: #4a4a4a;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.contact-info,
.terms,
.social-media {
    text-align: left;
    color: #fff;
    flex: 1;
}

.terms {
    margin-top: 20px;
}

.policy {
    margin: 20px 10px;

}

.terms a {
    color: #faf5fd;
    text-decoration: none;
    font-size: 16px;
    margin-top: 20px;
}

#copyright {
    color: #faf5fd;
    margin-top: 40px;
    margin-left: 65px;
}

.social-media h2 {
    margin-bottom: 10px;
    color: #fff;
}

.social-media ul {
    list-style: none;
    padding: 0;
}

.social-media li {
    margin-bottom: 5px;
}

.social-media a {
    color: #faf5fd;
    text-decoration: none;
    font-size: 16px;
}
