body {

    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

nav{
    background-color: #c1a80b ;
    color: rgb(125, 78, 67);
    padding: 10 px;}
nav ul{
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content:space-around;
    }

footer {
        background-color: #333;
        color: white;
        text-align: center;
        padding: 10px 0;
        position: absolute;
        bottom: 0;
        width: 100%;
    }    








    .contact-container {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 100vh; /* This makes it take full screen height */
    }
    

form{

    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 25px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px #ccc;
    width: 300px;
    align-content: center;
    justify-content: center;

}
input{
    padding: 5px;
    border-radius: 23px;
}
#message{
    padding: 5px;
    border-radius: 20px;
}
input:focus{
    background-color: wheat;
}
button{
    background-color: teal;

}
button:hover{
    background-color: darkgreen;
}
span{
    color: red;
    font-size: small;
    position: relative;
}